<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    body {
  background: #dd3f3e;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}
.ticket {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 700px;
  margin: 20px auto;
}
.ticket .stub,
.ticket .check {
  box-sizing: border-box;
}
.stub {
  background: #ef5658;
  height: 250px;
  width: 250px;
  color: white;
  padding: 20px;
  position: relative;
}
.stub:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border-top: 20px solid #dd3f3e;
  border-left: 20px solid #ef5658;
  width: 0;
}
.stub:after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  border-bottom: 20px solid #dd3f3e;
  border-left: 20px solid #ef5658;
  width: 0;
}
.stub .top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  text-transform: uppercase;
}
.stub .top .line {
  display: block;
  background: #fff;
  height: 40px;
  width: 3px;
  margin: 0 20px;
}
.stub .top .num {
  font-size: 10px;
}
.stub .top .num span {
  color: #000;
}
.stub .number {
  position: absolute;
  left: 40px;
  font-size: 150px;
}
.stub .invite {
  position: absolute;
  left: 150px;
  bottom: 45px;
  color: #000;
  width: 20%;
}
.stub .invite:before {
  content: '';
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check {
  background: #fff;
  height: 250px;
  width: 450px;
  padding: 40px;
  position: relative;
}
.check:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-top: 20px solid #dd3f3e;
  border-right: 20px solid #fff;
  width: 0;
}
.check:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  border-bottom: 20px solid #dd3f3e;
  border-right: 20px solid #fff;
  width: 0;
}
.check .big {
  font-size: 80px;
  font-weight: 900;
  line-height: .8em;
}
.check .number {
  position: absolute;
  top: 50px;
  right: 50px;
  color: #ef5658;
  font-size: 40px;
}
.check .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 12px;
  margin-top: 20px;
  width: 100%;
}
.check .info section {
  margin-right: 50px;
}
.check .info section:before {
  content: '';
  background: #ef5658;
  display: block;
  width: 40px;
  height: 3px;
  margin-bottom: 5px;
}
.check .info section .title {
  font-size: 10px;
  text-transform: uppercase;
}

</style>
</head>
<body>

    <div class="ticket">
        <div class="stub">
          <div class="top">
            <span class="admit">Vols</span>
            <span class="line"></span>
            <span class="num">
              Vols Num :
              <span id="idreservation"></span>
            </span>
          </div>

          <div class="number" id="nombreplace"></div>
          <div class="invite" id="escale">
            escale :
          </div>
        </div>
        <div class="check">
          <div >
            <span>nom :</span>
            <span>prenom :</span>
            <span>num passport :</span>
          </div>
          <!-- <div class="number">#10</div> -->
          <div class="info">
            <section>
              <div class="title">Date Depart</div>
              <div id="dated"></div>
            </section>
            <section>
                <div class="title">Date Arrivée</div>
                <div id="datea"></div>
              </section>
            <section>
              <div class="title">Ville Depart</div>
              <div id="villed"></div>
            </section>
            <section>
              <div class="title">Ville Arrivée</div>
              <div id="villea"></div>
            </section>
          </div>
        </div>
      </div>

    <script>

        		let arrayN = <%- JSON.stringify(reservation)%>;
                
                arrayN.forEach(element => {
                   
                    document.getElementById("idreservation").innerHTML=element.idreservation;
                    document.getElementById("nombreplace").innerHTML=element.nombreplace;
                    document.getElementById("dated").innerHTML=element.dated;
                    document.getElementById("datea").innerHTML=element.datea;
                    document.getElementById("villed").innerHTML=element.villed;
                    document.getElementById("villea").innerHTML=element.villea;
                    document.getElementById("escale").innerHTML+=element.escale;
                    
                });



    </script>
</body>
</html>